<div class="container">
  <h1>Goodbye!</h1>
  <p>Thank you for visiting our website. We hope to see you again soon!</p>
  <button class="button" @click="Alpine.store.bye.redirectToHello()">Contact Us</button>
</div>
