<div class="container">
  <h1>Hello <%= author %>!</h1>
  <p>Welcome to our amazing product! Click the button below to learn more.</p>
    <button class="button" @click="$store.hello.openAlert()">Learn More</button>
</div>
